.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hideOnInactive {
  opacity: 0;
  transition: opacity 1s;
}
.hideOnInactive.active {
  opacity: 1
}

.step.slide {
  min-width: 400px;
  min-height: 400px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}